
.controls {
  border: 1px solid #a0a0a0;
  background-color: rgb(230,230,230);
  background-color: rgba(230,230,230,0.7);
  padding: 0.4em 0.6em;
}

text.coordinates {
  font-family: "Arial";
  font-size: 0.7em;
}

.window-top-bar {
  width: 100%;
  height: 1em;
  border: 1px solid #808080;
  background-color: white;
  cursor: move;
}

#formula {
  font-weight: bold;
  font-size: 0.9em;
}

.worksBest {
  border: 1px solid #808080;
  background-color: #d0e0f0;
  font-size: 0.8em;
  padding: 0.5em;
  line-height: 1.2em;
}

.zero {
  padding: 0;
  margin: 0;
}

.zero-text {
  color: blue;
  padding: 0.1em;
  margin: 0 0;
  line-height: 100%;
  background-color: rgba(255,255,255,0.35);
}

.point-circle {
  background: rgba(0,0,255,0.5);
  padding: 0;
  margin: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
