
#control-dialog {
  border: 1px solid #a0a0a0;
  background-color: rgb(230,230,230);
  background-color: rgba(230,230,230,0.7);
  padding: 0.4em 0.6em;
}

text.coordinates {
  font-family: "Arial";
  font-size: 0.7em;
}

.window-top-bar {
  width: 100%;
  height: 1em;
  border: 1px solid #808080;
  background-color: white;
  cursor: move;
}

.slider-label {
  display:inline-block;
  width: 8em;
}

.formula-label {
  display:inline-block;
  width: 8em;
}

.slider-container {
  display:inline-block;
}

.formula {
  font-weight: bold;
  font-size: 0.9em;
}

.worksBest {
  border: 1px solid #808080;
  background-color: #d0e0f0;
  font-size: 0.8em;
  padding: 0.5em;
  line-height: 1.2em;
}

.number-handle {
  padding: 0;
  margin: 0;
}

.number-handle .number-text {
  color: blue;
  padding: 0.1em;
  margin: 0 0;
  line-height: 100%;
  background-color: rgba(255,255,255,0.35);
  white-space: nowrap;
}

.number-handle .point-circle {
  background: rgba(0,0,255,0.5);
  padding: 0;
  margin: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

h1 {
  font-family: Tahoma,Helvetica,sans-serif;
  font-weight: bold;
  font-size: 1.6em;
  border: 1px solid #a0a0a0;
  background-color: #f0f0f0;
  padding: 0 0 0.2em 0.5em;
  margin: 0.3em;
  color: #000060;
}

.wideItem {
  border: 1px solid #000060;
  padding: 0.4em 0.4em;
  margin: 0.1em 0.1em;
  line-height: 1.5em;
  background-color: #ffffff;
  font-family: Georgia, "Times New Roman",serif;
}

.article {
  border: 1px solid #000060;
  padding: 1em 1em 0.5em 1em;
  margin: 1em 3em 1em 5em;
  line-height: 1.5em;
  background-color: #ffffff;
  font-family: Georgia, "Times New Roman",serif;
}

.instructions {
  font-size: 0.9em;
  padding: 0.3em 1em;
  font-style: italic;
  line-height: 1.1em;
}

.note {
  font-size: 0.7em;
  padding: 0.5em 1em 0.3em 7em;
  font-style: italic;
  line-height: 1.1em;
}

.function-links {
  font-family: Tahoma,Helvetica,sans-serif;
  font-size: 0.8em;
  border: 1px solid #e0c0c0;
  padding: 0.3em 0.2em;
  margin: 0.5em 2em;
  background-color: #fafafa;

}

.function-links a, .function-links .non-link {
  font-weight: bold;
  margin: 0 0.5em;
  padding: 0 0.1em;
  text-decoration: none;
  background-color: #f0f0f0;
  border: 1px solid #a0a0a0;
}

.function-links .non-link {
  background-color: #d0e0ff;
}

.function-links a:hover {
  background-color: #f0f050;
 }

h1 a {
  text-decoration: none;
}



