
.controls {
  border: 1px solid #a0a0a0;
  background-color: rgb(230,230,230);
  background-color: rgba(230,230,230,0.7);
  padding: 1em;
}

text.coordinates {
  font-family: "Arial";
  font-size: 0.7em;
}
