.domain-handle {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  user-select: none;
  position: relative;
  z-index: 900;
  pointer-events: auto;
}

.domain-handle:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.domain-handle.center-handle {
  background-color: rgba(0, 0, 0, 0.7);
}

.domain-handle.edge-handle {
  background-color: rgba(0, 0, 0, 0.5);
}