.domain-handle {
  width: 16px;
  height: 16px;
  background-color: #000000;
  border: 2px solid white;
  border-radius: 50%;
  user-select: none;
  position: absolute !important;
  z-index: 900 !important;
  pointer-events: auto;
  box-sizing: border-box;
}

.domain-handle:hover {
  background-color: #333333;
}

.domain-handle.center-handle {
  background-color: #000000;
}

.domain-handle.edge-handle {
  background-color: #000000;
}