$serif_font_family: Georgia, "Times New Roman",serif;
$sans_serif_font_family: Tahoma,Helvetica,sans-serif;

$heading_font_family: $sans_serif_font_family;
$coordinates_font_family: Arial;

#control-dialog {
  border: 1px solid #a0a0a0;
  background-color: rgb(230,230,230);
  background-color: rgba(230,230,230,0.7);
  padding: 0.4em 0.6em;
}

text.coordinates {
  font-family: $coordinates_font_family;
  font-size: 0.7em;
}

.window-top-bar {
  width: 100%;
  height: 1em;
  border: 1px solid #808080;
  background-color: white;
  cursor: move;
}

.slider-label {
  display:inline-block;
  width: 8em;
}

.scale-slider { 
  width: 14em;
}

.formula-label {
  display:inline-block;
  width: 8em;
}

.slider-container {
  display:inline-block;
}

.slider-value {
  display:inline-block;
  width: 6em;
  text-align: left;
  padding: 0 0 0 1em;
}

.formula {
  font-weight: bold;
  font-size: 0.9em;
}

.instructions {
  font-size: 0.9em;
  padding: 0.2em 2em;
  font-style: italic;
  line-height: 1.1em;
}

.note {
  font-size: 0.7em;
  padding: 0.5em 1em 0.3em 3em;
  font-style: italic;
  line-height: 1.1em;
}

.worksBest {
  border: 1px solid #808080;
  background-color: #d0e0f0;
  font-size: 0.8em;
  padding: 0.5em;
  line-height: 1.2em;
}

.number-handle {
    padding: 0;
    margin: 0;

    .number-text {
	color: blue;
	padding: 0.1em;
	margin: 0 0;
	line-height: 100%;
	background-color: rgba(255,255,255,0.35);
	white-space: nowrap;
    }
    .point-circle {
	background: rgba(0,0,255,0.5);
	padding: 0;
	margin: 0;
	width: 4px;
	height: 4px;
	border-radius: 50%;
    }
}

h1 {
  font-family: $heading_font_family;
  font-weight: bold;
  font-size: 1.6em;
  border: 1px solid #606060;
  background-color: #f0f0f0;
  padding: 0.2em 0 0.2em 0.5em;
  margin: 0.3em;
  color: #000060;
  a {
      text-decoration: none;
  }
}


h2 {
  font-family: $heading_font_family;
  font-weight: bold;
  background-color: #f0f0f0;
  border-top: 1px solid #606060;
  font-size: 1.4em;
  padding: 0.2em 0 0.2em 0.4em;
  margin: 1.8em 0 0.2em -0.4em;
  color: #000060;
  &:first-child {
      margin-top: 0;
  }
}

h3 {
  font-family: $heading_font_family;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #f0f0f0;
  padding: 0.2em 0 0.2em 0.2em;
  margin: 1.3em 0 0.2em -0.2em;
  color: #000060;
}

h3+p, h2+p {
  margin-top: 0;
}

 p {
     margin: 0.8em 0;
}

.wideItem {
  border: 1px solid #000060;
  padding: 0.4em 0.4em;
  margin: 0.1em 0.1em;
  line-height: 1.5em;
  background-color: #ffffff;
  font-family: $serif_font_family;
}

.article {
  padding: 1em 1em 0.5em 1em;
  margin: 2em 7em 1em 8em;
  max-width: 40em;
  line-height: 1.5em;
  background-color: #ffffff;
  font-family: $serif_font_family;
}

.function-links {
    font-family: $sans_serif_font_family;
    font-size: 0.8em;
    border: 1px solid #e0c0c0;
    padding: 0.3em 0.2em;
    margin: 0.5em 2em;
    background-color: #fafafa;

    a, .non-link {
	font-weight: bold;
	margin: 0 0.5em;
	padding: 0 0.1em;
	text-decoration: none;
	background-color: #f0f0f0;
	border: 1px solid #a0a0a0;
    }
    .non-link {
	background-color: #d0e0ff;
    }
    a:hover {
	background-color: #f0f050;
    }
}

.updated {
    font-style: italic;
}
